site_name: Netcord
site_description: The Async Discord OAuth2 Toolkit for FastAPI
site_author: Netrix
site_url: https://netcord.netrix.fun/
repo_url: https://github.com/netrix-team/netcord
repo_name: netrix-team/netcord

theme:
  name: material
  language: en

  font:
    text: Roboto
    code: Roboto Mono

  palette:
    scheme: slate
    primary: indigo
    accent: indigo

  features:
    - navigation.expand
    - navigation.footer
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - announce.dismiss
    - versioning.git

extra:
  version: 2.2.1

nav:
  - Home: index.md
  - Guides:
    - Installation: guides/installation.md
    - Usage: guides/usage.md

plugins:
  - search
  - git-revision-date-localized:
      type: date
      strict: false
    # Required for blog plugin's generated indices
      fallback_to_build_date: true
  - awesome-pages
